.slider {
    height: 300px;
    width:100%;
    border: 1px solid #ccc;
    overflow-x: hidden;
    overflow-y: hidden;
}

.slider .slider-content {
    float: left;
}

.slider .slide {
    position: relative;
    height: 300px;
    float: left;
}

.bg-1 {
    background: red;
}

.bg-2 {
    background: green;
}

.bg-3 {
    background: blue;
}

.slider .arrow {
    width: 50px;
    position: absolute;
    height: 300px;
    z-index: 10;
    background: rgba(140, 140, 140, 0.7);
    opacity: 0;
    transition: opacity linear 200ms;
    cursor: pointer;
}
.slider .arrow:hover {
    opacity: 1;
}
.slider .arrow-left {
    float: left;
    background: rgba(140, 140, 140, 0.3) url('../imgs/arrow-left.png') no-repeat center;
    background-size: 30px 30px;
}
.slider .arrow-right {
    background: rgba(140, 140, 140, 0.3) url('../imgs/arrow-right.png') no-repeat center;
    background-size: 30px 30px;
}

.slider .points {
    width: 60px;
    height: 20px;
    padding: 5px;
    margin: 0px auto;
    display: block;
}

.slider .points .point {
    display: inline-block;
    margin-right: 5px;
}

.slider .points .point a{
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    background: #000;
    border-radius: 10px;
    cursor: pointer;
    opacity: 1;
    transition: opacity linear 200ms;
}
.slider .points .active-point a {
    opacity: 0.6 !important;
}
.slider .points .point a:hover {
    opacity: 0.6;
}

.slider-paginator {
    position: absolute;
    height: 30px;
    margin-top: 270px;
}

@media (min-width: 800px){
    .slider .arrow-right{
        margin-left: 974px;
    }
    .slider-paginator {
        width: 1024px;
    }
}

@media (max-width: 800px){
    .slider .arrow-right{
        float: right;
        right: 0px;
    }
    .slider-paginator{
        width: 100%;
    }
}
